{% extends "App/index.html" %}

{% load static %}

{% block tituloPagina %}
Mall form
{% endblock %}

{% block contenido_que_cambia %}
Mall forms

<div>
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h3>Add a new mall</h3>
    <div style="background-color: rgba(250, 252, 243, 0.712);">

        {% if mi_formulario.errors %}
        <p style="color:red">Check the entry</p>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
        
            {{mi_formulario.as_p }}
        
            <input type="submit" value="Add a new mall">
        </form>

    </div>
</div>

{% endblock %} 